In [27]:
#!/usr/bin/env python

# make sure to install these packages before running:
# pip install pandas
# pip install sodapy

import pandas as pd
from sodapy import Socrata

# Unauthenticated client only works with public data sets. Note 'None'
# in place of application token, and no username or password:
client = Socrata("data.baltimorecity.gov", None)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [34]:
# Example authenticated client (needed for non-public datasets):
# client = Socrata(data.baltimorecity.gov,
#                  MyAppToken,
#                  userame="user@example.com",
#                  password="AFakePassword")

# First 2000 results, returned as JSON from API / converted to Python list of
# dictionaries by sodapy.
results = client.get("qqcv-ihn5", limit=18000)

# Convert to pandas DataFrame
results_df = pd.DataFrame.from_records(results)

In [35]:
results_df.head()

,:@computed_region_5kre_ccpb,:@computed_region_s6p5_2pgr,block,buildingaddress,councildistrict,location,lot,neighborhood,noticedate,policedistrict,referenceid
0,74,27301,0002,1945 W NORTH AVE,7,"{'latitude': '39.30947261', 'longitude': '-76....",036,EASTERWOOD,2014-02-28T00:00:00.000,WESTERN,0002 036 022814
1,74,27301,0002,1947 W NORTH AVE,7,"{'latitude': '39.30947009', 'longitude': '-76....",037,EASTERWOOD,2015-01-14T00:00:00.000,WESTERN,0002 037 011415
2,74,27301,0002,1949 W NORTH AVE,7,"{'latitude': '39.30946762', 'longitude': '-76....",038,EASTERWOOD,2014-08-08T00:00:00.000,WESTERN,0002 038 080814
3,221,27301,0003,1807 W NORTH AVE,7,"{'latitude': '39.30962804', 'longitude': '-76....",018,SANDTOWN-WINCHESTER,2013-04-18T00:00:00.000,WESTERN,0003 018 041813
4,221,27301,0003,1809 W NORTH AVE,7,"{'latitude': '39.30962577', 'longitude': '-76....",019,SANDTOWN-WINCHESTER,2011-08-18T00:00:00.000,WESTERN,0003 019 081811

In [36]:
len(results_df)

16784

In [14]:
from datetime import datetime, date

today = date.today()

# dd/mm/YY
d1 = today.strftime("%Y-%m-%d")
print("d1 =", d1)

# Textual month, day and year	
d2 = today.strftime("%B %d, %Y")
print("d2 =", d2)

# mm/dd/y
d3 = today.strftime("%m/%d/%y")
print("d3 =", d3)

# Month abbreviation, day and year	
d4 = today.strftime("%b-%d-%Y")
print("d4 =", d4)

d1 = 2020-02-09
d2 = February 09, 2020
d3 = 02/09/20
d4 = Feb-09-2020

In [18]:
timeNow = datetime.now()

In [20]:
# Month abbreviation, day and year	
t5 = timeNow.strftime("%H_%M")
print("t5 =",t5)

t5 = 19_01

In [21]:
print(d1+'_'+t5)

2020-02-09_19_01

In [26]:
#write out to csv
results_df.to_csv("practice_delete_later.csv")